body {
    display: grid;
    grid-template-rows: auto max-content;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

p {
    font-family: "Pixelated MS Sans Serif",Arial;
}

h2 {
    font-family: "MS Sans Serif",Arial;
}

img {
    max-width: 100%;
	overflow: hidden;
    width: auto;
    height: auto;
    margin: auto;
}

embed {
    height: 100%;
    width: 100%;
}

.window-page-body {
    overflow-y: scroll; 
    display: block;
}

.screensaver {
    background-image: url(assets/sailing-2.jpg);
    background-size: cover;
}

.desktop-nav {
    position: sticky;
    bottom: 0px;
    background-color: rgb(165, 165, 165);
    border-bottom: solid rgb(0, 0, 0, 0.2);
    border-width: 3px;
    z-index: 99999;
    box-shadow: inset 2px 2px grey;
    width: 100%;
    height: 46px;
    /* padding: 3px; */
    display: grid;
    grid-template-columns: max-content auto max-content max-content min-content;
    gap: .1rem;
}



.shortcut {
    align-items: center;
    text-align: center;
    height: 6rem;
    max-width: 4.5rem;
    display: grid;
    font-size: small;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: pointer;
}

.shortcut:hover {
	background-color: rgba(165,165,165,0.2);
}

.shortcut-name {
    max-width: 4.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shortcut-img {
    max-height: 80%;
}

.search {
    margin: 3px;
    padding: 0 5px;
    height: 40px;
}

.search-icon {
    height: 25px;
}

.home {
    height: 40px;
    margin: 3px;
    min-width: 40px;
    padding: 0px;
    align-items: center;
    background-color: whitesmoke;
}

.home-icon {
    height: 23px;
}

.window {
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1000;
    opacity: 0; /* Start hidden */
    pointer-events: none; /* Disable clicks when hidden */
    width: 40em;
    height: 30em;
}

.window.active {
    display: block;
    opacity: 1; /* Visible when active */
    pointer-events: auto; /* Enable clicks when visible */
}

.window-body {
    margin: 0;
    height: calc(100% - 22.5px);
    overflow-y: hidden;
}

.fullscreen {
    width: 100%;
    height: calc(100vh - 48px);
}

.title-bar {
    cursor: pointer;
}

.close {
    opacity: 100%;
}

button.close {
    background-color: silver;
}

.embed-page {
    margin: 0.3rem;
    overflow: show;
}

.socials {
    margin: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin-left: 50%;
}

.inline {
    display: inline-block;
}

.dropdown-content a {
    padding: 8px 8px;
    height: 40px;
    width: 40px;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: auto auto auto;
    transform: translate(-50%,-100%);
}
/* --------------- /
/ Taskbar styles   /
/ --------------- */

.taskbar {
    margin: 0;
    padding-inline-start: 5px;
    height: 46px;
}

.tb-icon-wrapper {
    display: inline-block;
    padding-inline: 5px;
    height: 46px;
    overflow: show;
}

.tb-icon-wrapper:hover {
	background-color: rgba(0,0,0,0.15);
}

.tb-icon {
    max-height: 100%;
    margin-top: auto;
}

/* ------------------------- /
/ Taskbar thumbnail styles   /
/ ------------------------- */

.thumbnail {
    display: inline-block;
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
    padding-inline-start: 0;
    font-size: 1px;
    transform: translateY(0px) translateX(-50%) scale(9.0);
    transition: all 0.6s;
    pointer-events: none;
    overflow: hidden;
}

#taskbar-sailing:hover .thumbnail-sailing {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}

#taskbar-music:hover .thumbnail-music {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}

#taskbar-accomplishments:hover .thumbnail-accomplishments {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}


#taskbar-about:hover .thumbnail-about {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}

#taskbar-projects:hover .thumbnail-projects {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}

#taskbar-work:hover .thumbnail-work {
    opacity: 100;
    transform: translateY(-523%) scale(9.0);
    pointer-events: auto;
    z-index: 1000;
}

.tnimg {
    width: 6px;
    height: 6px;
    padding: 0px 0.5px;
    display: inline-block;
}

.tnimg:hover {
    background-color: rgba(149, 149, 149, 0.4);
}

.tab {
    cursor: pointer;
}

.tabpanel {
    display: none;
    box-shadow: inset 0px 2px grey;
}

.small {
    max-width: 30px;
}

#clock {
    height: 40px;
    margin: 3px;
    background-color: silver;
    box-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;
    font-family: "Pixelated MS Sans Serif",Arial;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: max-content;
}